@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: black;
}

#fetch {
  white-space: pre-line;
  overflow: hidden;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: 'Space Mono', 'ABeeZee', monospace;
  font-size: 16px;
  padding: 20px;
  line-height: 1.4;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
