body {
    background-color: #000;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    margin-bottom: 12px;
}

img:hover {
    cursor: pointer;
}
